<!doctype html>
<html>
  <head>
    <!-- Internal game scripts/styles, mostly boring stuff -->
    <script src="{{url_for('static', filename='game-frame.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='game-frame-styles.css')}}" />
  </head>
 
  <body id="level5" value='{{ next }}'>
    <img src="/static/logos/level5.png" /><br><br>
    Thanks for signing up, you will be redirected soon...
    <script src="{{url_for('static', filename='level5.js')}}"></script>
  </body>
</html>